/* Import Default Styles */
@import url(default.css);

/* CSS Components */
@import url(modal-confirm-data.css);

/* Stylesheet for Mobile Devices */
@media screen and (max-width: 768px) {
    /* Body color */
    body {
        background-color: var(--gi-white);
    }

    /* Initial info */
    .info-container {
        padding: 2% 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .info-container h1 {
        padding: 20px 5px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .info-container p {
        margin: 10px 0px;
        padding: 15px;
        text-align: center;
    }

    /* Documents List */
    .list li {
        margin: 5px 0px;
    }

    .list {
        padding: 2% 5%;
    }

    /* Confirm box to go to form */
    .confirm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 10%;
        text-align: center;
    }

    #terms {
        color: var(--gi-brown);
        cursor: pointer;
    }

    .input-unique {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
    }

    .input-unique input {
        margin: 0px 5px;
    }

    /* Button for access the form */
    .access-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
        width: 100%;
    }

    .access-btn a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--gi-white);
        text-decoration: none;
        padding: 15px 45px;
        background-color: var(--gi-black);
    }

    .access-btn a img {
        width: 20px;
        height: 20px;
        transition: 200ms ease-in-out;
    }

    .access-btn a span {
        margin: 0px 5px;
    }

    .access-btn a:hover > img {
        transform: translate(1px, -2px);
    }

    /* For not open the link while the checkbox isn't checked */
    .disabled-link {
        color: var(--gi-gray);
        pointer-events: none;
        text-decoration: none;
        cursor: not-allowed;
    }

    /* Help Icon */
    #help {
        width: min-content;
        height: min-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        cursor: pointer;
        color: var(--gi-black);
        position: fixed;
        right: 5%;
        bottom: 2%;
        padding: 1px;
    }

    #help img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        margin: 5px;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--gi-black);
    }
}

/* Stylesheet for Medium Devices - Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Body color */
    body {
        background-color: var(--gi-white);
    }

    /* Initial info */
    .info-container {
        padding: 2% 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .info-container h1 {
        padding: 20px 5px;
    }

    .info-container p {
        margin: 15px 0px;
        padding: 15px;
        text-align: center;
    }

    /* Documents List */
    .list li {
        margin: 5px 0px;
    }

    /* Confirm box to go to form */
    .confirm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 10%;
        text-align: center;
    }

    #terms {
        color: var(--gi-brown);
        cursor: pointer;
    }

    .input-unique {
        display: flex;
    }

    .input-unique input {
        margin: 0px 5px;
    }

    /* Button for access the form */
    .access-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
        width: 100%;
    }

    .access-btn a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--gi-white);
        text-decoration: none;
        padding: 15px 45px;
        background-color: var(--gi-black);
    }

    .access-btn a img {
        width: 20px;
        height: 20px;
        transition: 200ms ease-in-out;
    }

    .access-btn a span {
        margin: 0px 5px;
    }

    .access-btn a:hover > img {
        transform: translate(1px, -2px);
    }

    /* For not open the link while the checkbox isn't checked */
    .disabled-link {
        color: var(--gi-gray);
        pointer-events: none;
        text-decoration: none;
        cursor: not-allowed;
    }

    /* Help Icon */
    #help {
        width: min-content;
        height: min-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        cursor: pointer;
        color: var(--gi-black);
        position: fixed;
        right: 5%;
        bottom: 10%;
        padding: 1px;
    }

    #help img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        margin: 5px;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--gi-black);
    }
}

/* Stylesheet for Desktop Devices */
@media screen and (min-width: 1024px) {
    /* Body color */
    body {
        background-color: var(--gi-white);
    }

    /* Initial info */
    .info-container {
        padding: 2% 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .info-container h1 {
        padding: 20px 5px;
    }

    .info-container p {
        margin: 15px 0px;
        padding: 15px;
        text-align: center;
    }

    /* Documents List */
    .list li {
        margin: 5px 0px;
    }

    /* Confirm box to go to form */
    .confirm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 10%;
        text-align: center;
    }

    #terms {
        color: var(--gi-brown);
        cursor: pointer;
    }

    .input-unique {
        display: flex;
    }

    .input-unique input {
        margin: 0px 5px;
    }

    /* Button for access the form */
    .access-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
        width: 100%;
    }

    .access-btn a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--gi-white);
        text-decoration: none;
        padding: 15px 45px;
        background-color: var(--gi-black);
    }

    .access-btn a img {
        width: 20px;
        height: 20px;
        transition: 200ms ease-in-out;
    }

    .access-btn a span {
        margin: 0px 5px;
    }

    .access-btn a:hover > img {
        transform: translate(1px, -2px);
    }

    /* For not open the link while the checkbox isn't checked */
    .disabled-link {
        color: var(--gi-gray);
        pointer-events: none;
        text-decoration: none;
        cursor: not-allowed;
    }

    /* Help Icon */
    #help {
        width: min-content;
        height: min-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        cursor: pointer;
        color: var(--gi-black);
        position: fixed;
        right: 5%;
        bottom: 10%;
        padding: 1px;
    }

    #help img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        margin: 5px;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--gi-black);
    }
}
